.BG_Orange
{
  background-color: #AF5B26;
}

.BG_Blue
{
  background-color: rgb(55, 92, 165);
}

.BG_LGrey
{
  background-color: #4C4C47;
}

.BG_DGrey
{
  background-color: #2D2D2A;
}

.BG_White
{
  background-color: #E5DCC5;
}


.TXT_Orange
{
  color: #AF5B26;
}

.TXT_Blue
{
  color: rgb(55, 92, 165);
}

.TXT_LGrey
{
  color: #4C4C47;
}

.TXT_DGrey
{
  color: #2D2D2A;
}

.TXT_White
{
  color: #E5DCC5;
}

.TXT_Center
{
  text-align: center;
}

.title
{
  font-size: 250%;
  color: #E5DCC5;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 43px;
  border-left: 20px solid #AF5B26;
  border-right: 20px solid #AF5B26;
  border-top: 10px solid #AF5B26;
  border-bottom: 10px solid #AF5B26;
}

.loginBox
{
  width: 250px;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 20px solid #AF5B26;
  border-right: 20px solid #AF5B26;
  border-bottom: 10px solid #AF5B26;
  background-color: #2D2D2A;
  text-align: center;
}

.createBox
{
  font-size: 130%;
  width: 450px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 20px solid #AF5B26;
  border-right: 20px solid #AF5B26;
  border-bottom: 10px solid #AF5B26;
  background-color: #2D2D2A;
  text-align: center;
}

.createTextField
{
    text-align: left;
    padding-left: 5px;
}