.BG_Orange
{
  background-color: #AF5B26;
}

.BG_Blue
{
  background-color: #0644A8;
}

.BG_LGrey
{
  background-color: #4C4C47;
}

.BG_DGrey
{
  background-color: #2D2D2A;
}

.BG_White
{
  background-color: #E5DCC5;
}


.TXT_Orange
{
  color: #AF5B26;
}

.TXT_Blue
{
  color: #0644A8;
}

.TXT_LGrey
{
  color: #4C4C47;
}

.TXT_DGrey
{
  color: #2D2D2A;
}

.TXT_White
{
  color: #E5DCC5;
}

.TXT_Center
{
  text-align: center;
}

.title
{
  font-size: 250%;
  color: #E5DCC5;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 43px;
  border-left: 20px solid #AF5B26;
  border-right: 20px solid #AF5B26;
  border-top: 10px solid #AF5B26;
  border-bottom: 10px solid #AF5B26;
}

.titleBottom
{
  background-color: #AF5B26;
  height: 10px;
}

.navBar
{
  color: #E5DCC5;
  background-color: #2D2D2A;
  padding: 0px 20px 0px 20px;
  height: 50px;
}

.navBar a 
{
  font-size: 115%;
  width: 70px;
  height: 35px;
  float: left;
  display: block;
  color: #E5DCC5;
  text-align: center;
  text-decoration: none;
  padding: 15px 10px 0px 10px;
}

.navBar a:hover 
{
  background-color: #4C4C47;
}

.loginBox
{
  margin: 0 auto;
  width: 250px;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 20px solid #AF5B26;
  border-right: 20px solid #AF5B26;
  border-bottom: 10px solid #AF5B26;
  background-color: #2D2D2A;
  text-align: center;
}

.createBox
{
  font-size: 130%;
  width: 450px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 20px solid #AF5B26;
  border-right: 20px solid #AF5B26;
  border-bottom: 10px solid #AF5B26;
  background-color: #2D2D2A;
  text-align: center;
}

.createTextField
{
    text-align: left;
    padding-left: 5px;
}

.infoBox
{
  float: left;
  width: 25%;
  color: #E5DCC5;
  font-size: 125%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 20px solid #AF5B26;
  border-right: 20px solid #AF5B26;
  border-bottom: 10px solid #AF5B26;
  background-color: #2D2D2A;
}

.logInError
{
  color: red;
  
  background-color: #E5DCC5;
  padding: 1px;

  border: 3px solid red;
}

.infoTitle
{
  color: #E5DCC5;
  border-left: 10px solid #0644A8;
  border-bottom: 5px solid #0644A8;
}

.infoField
{
  color: black;
  background-color: #E5DCC5;
  padding: 5px;
}

.postBox
{
  color: black;
  border: 2px solid black;
  width: 500px;
}

.profileInfo
{
  float: right;
  width: 40%;
  background-color: white;
}

.postBar
{
  background-color: #4C4C47;
  text-align: center;
}

.profilePosts
{
  float: left;
  background-color: #E5DCC5;
  border: 25px solid #4C4C47;
}